*.classpath
*.project
.settings/
.gradle/


NIVision/.classpath
NIVision/.settings/
NIVision/bin/
NIVision/build/
NIVision/native/.settings/
NIVision/native/build/
NIVision/native/Release/
NIVision/native/build/

IMAQdx/bin/
IMAQdx/build/
IMAQdx/native/.settings/
IMAQdx/native/build/
IMAQdx/native/Release/

